{{> nav/nav-block}}
{{!-- This is for viewing past entries --}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{format_date example.createdAt}}</h5>
          {{!-- <p>
            <strong>Entry ID:</strong> 
            {{example.id}}
          </p> --}}
          
          <p>
            <strong>Dream name:</strong> 
            {{example.text}}
          </p>
          <p>
            <strong>Description:</strong> 
            {{example.description}}
          </p>
          <p>
            <strong>How you were feeling:</strong> 
            {{example.emoji}}
          </p>
            <a href="/example">← Back To Journal</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}

